{% extends 'kallejon_manga_app/base.html'%}
{%load static%}

{%block title%}Usuarios{%endblock%}

{% block content %}
<div class=" container-fluid special-page h-100">
  <div class="container">
    <h1 class="md-12">Usuarios Registrados</h1>
    <h2 class="md-12">Lista de usuarios</h2>
    <table class="table mt-4">
    <thead>
      <tr>
        <th>Nombre de usuario</th>
        <th>Email</th>
        <th>Primer nombre</th>
        <th>Apellido</th>
      </tr>
    </thead>
    <tbody>
      {% for user in users %}
      <tr>
        <td>{{ user.username }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.first_name }}</td>
        <td>{{ user.last_name }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
</div>