.nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.btn-bd-primary {
    --bd-violet-bg: #712cf9;
    --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

    --bs-btn-font-weight: 600;
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: var(--bd-violet-bg);
    --bs-btn-border-color: var(--bd-violet-bg);
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: #6528e0;
    --bs-btn-hover-border-color: #6528e0;
    --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: #5a23c8;
    --bs-btn-active-border-color: #5a23c8;
}

.bd-mode-toggle {
    z-index: 1500;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.bi {
    vertical-align: -.125em;
    fill: red;
}

nav {
    background-color: black !important;
}

.background-section {
    
    background-image: url("../../img/header_background.jpg")!important;
    background-repeat: repeat-x !important;
    background-size: cover !important;
}

h2 {
    font-weight: 900 !important;
    background: linear-gradient(45deg, #ff0000, #ff007f, #ff00ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.logo {
    max-width: 300px !important;
    /* Tamaño máximo en pantallas grandes */
}

@media (max-width: 768px) {
    .logo {
        max-width: 50px !important;
        /* Tamaño máximo en pantallas móviles */
    }
}

.brand-white {
    color: white;
}

.brand-red {
    color: red;
}

.special-page{
    background-color:lightgrey!important;
}

.lead{

    background-color: transparent!important;
}